<div class="navbar bg-body-tertiary sticky-top border-bottom">
  <div class="container">
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/"
          routerLinkActive="active"
          (click)="handleHome()"
          ><i class="bi bi-house"></i
        ></a>
      </li>
    </ul>
    <form class="" (submit)="onSearch($event)">
      <div class="input-group">
        <input
          type="text"
          [formControl]="searchTerm"
          placeholder="Search packages..."
          class="form-control"
        />
        <button type="submit" class="btn btn-primary">
          <i class="bi bi-search"></i>
        </button>
      </div>
    </form>
  </div>
</div>
