<div class="container">
  <div class="row justify-content-center">
    <div class="border my-4 p-4 rounded border-2">
      <div class="header my-2">
        <h1 class="font-monospace text-primary-emphasis">registry</h1>
        <p class="lead">explore the npm registry</p>
      </div>

      <form class="" (submit)="onSearch($event)">
        <div class="input-group">
          <input
            type="text"
            [formControl]="searchTerm"
            placeholder="Search packages..."
            class="form-control"
          />
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </form>
    </div>
  </div>
</div>
